.container{
    max-width: var(--max-width);
		overflow: hidden;
		margin: auto;
		padding: calc(64px + var(--space)) var(--space)
			calc(64px + var(--space)) var(--space);
}
.title{
    	color: var(--primary);
			margin: 0 0 var(--space) 0;
}