// -------------------------------------------------------------------------------------------

:root {
	--space: 24px;
	--max-width: 1080px;
	--blur: 16px;
}

// -------------------------------------------------------------------------------------------

@media only screen and (max-width: 600px) {
	:root {
		--space: 16px;
	}
}

// -------------------------------------------------------------------------------------------
