.container {
    max-width: 1200px;
    margin: 64px auto 0;
    padding: 24px;
    border-bottom: 1px solid var(--outline-variant);

    .content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 2px;
    }

    .about_text {
        // display: flex;
        // flex-direction: column;
        max-width: 600px;
        // align-items: start;
    }

    .about_me {
        font-size: 16px;
        color: var(--on-surface-variant);
    }

    .about_name {
        font-size: 56px;
        font-weight: bold;
        color: var(--on-surface-variant);
    }

    .role {
        font-size: 15px;
        font-weight: bold;
        color: var (--primary-container);
        border: 1px solid var(--primary-container);
        color: var(--on-surface-variant);
        border-radius: 20px;
        padding: 10px;
        width: fit-content;
        transition: all 0.3s ease;
    }

    .description {
        font-size: 16px;
        line-height: 1.6;
        color: var(--on-surface-variant);
    }

    .profile {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        width: full;
        height: 300px;
        border-radius: 25px;
        overflow: hidden;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}
@media (max-width: 1024px) {
    .container {
        .content {
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
        }

        .about_text,
        .profile {
            flex: 1;
            max-width: 50%;
        }
        .about_name {
            font-size: 48px;
        }

        .profile {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            border-radius: 25px;
        }

        .profile img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }
}

@media (max-width: 480px) {
    .container {
        .content {
            flex-direction: column-reverse;
            align-items: center;
            text-align: start;
        }

        .about_text,
        .profile {
            display: flex;
            flex-direction: column;
            align-items: center;
            max-width: 100%;
        }
        .about_name {
            font-size: 48px;
        }
    }
}
