// ------------------------------------------------------------------------------------------

.container {
    max-width: 1200px;
    margin: auto;
    background-color: #fff7fb;
    padding: 24px;
    margin-top: 64px;

    .headline {
        color: var(--on-background);
    }

    .content {
    }
}
