// ------------------------------------------------------------------------------------------

.container {
    max-width: 1200px;
    margin: auto;
    background-color: #ad2469;
    padding: 24px;
    margin-top: 64px;

    .content {
        display: flex;
        justify-content: space-between;
    }
    .about_text {
        display: flex;
        flex-direction: column;
    }
    .about_me {
        font-size: 16px;
    }
    .about_name {
        background-color: yellow;
        font-size: 72px;
    }
    .profile {
        display: flex;
        margin-right: 20px;
        align-items: center;
    }
    .profile img {
        height: 100px;
        width: 100px;
    }
}

// ------------------------------------------------------------------------------------------
