// ------------------------------------------------------------------------------------------

.container {
    max-width: 1200px;
    margin: auto;
    padding: 24px;
    background-color: #af52de66;

    .headline {
        color: var(--on-background);
    }

    .content {
    }
}

// ------------------------------------------------------------------------------------------
