.header {
    height: 64px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--surface);
    color: var(--on-surface);
    border-bottom: 1px solid var(--outline-variant);
    z-index: 1000;

    .container {
        max-width: 1200px;
        margin: 0 auto;
        padding: 0 24px;
        height: 100%;

        .head {
            display: flex;
            justify-content: space-between;
            align-items: center;
            height: 100%;

            .heading {
                font-size: 20px;
                font-weight: bold;
                color: var(--on-surface-variant);
                letter-spacing: 1px;
            }

            .nav {
                ul {
                    display: flex;
                    gap: 30px;
                    margin: 0;
                    padding: 0;
                    list-style: none;

                    li {
                        button {
                            text-decoration: none;
                            font-size: 16px;
                            font-weight: 500;
                            color: var(--on-surface-variant);
                            transition:
                                color 0.3s ease,
                                border-bottom 0.3s ease;
                            border: none;
                            background-color: var(--surface);

                            &:hover {
                                color: var(--on-primary-container);
                                border-bottom: var(--primary-container);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .header {
        .container {
            .head {
                flex-direction: column;
                align-items: center;
                gap: 12px;

                .nav ul {
                    gap: 16px;
                    flex-wrap: wrap;
                    justify-content: center;
                }
            }
        }
    }
}

@media (max-width: 480px) {
    .header {
        .container {
            .head {
                .nav ul {
                    gap: 10px;
                    flex-direction: row;
                }
            }
        }
    }
}
