.container {
  height: 64px;
  width: 100vw;
  background-color: var(--inverse-overlay);
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(var(--blur));
  animation: fade-in calc(var(--motion-extra-long) * 4) var(--emphasized);
  z-index: 1;
}

.frame {
  height: inherit;
  max-width: var(--max-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 calc(var(--space) - 8px) 0 var(--space);
  margin: auto;
}

.headline {
  font-family: "Poppins";
  color: var(--on-surface);
}

.headline::first-letter {
  color: var(--primary);
}
.navigationbuttonscontainer {
  display: flex;
  align-items: center;
}

.iconbuttoncontainer {
  display: none;
}

.navigationscreen {
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  backdrop-filter: blur(var(--blur));
  background-color: var(--inverse-overlay);
  flex-direction: column;
  z-index: 2;
  display: none;
}
.top {
  height: 64px;
  padding: 0 calc(var(--space) - 8px) 0 0;
  display: flex;
  align-items: center;
  justify-content: end;
}

.bottom {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 4px;
  border-radius: var(--shape-medium);
  margin: var(--space);
  padding: var(--space);
}

// -------------------------------------------------------------------------------------------

@media only screen and (max-width: 840px) {
  .container {
    .frame {
      .trailing {
        .navigationbuttonscontainer {
          display: none;
        }

        .iconbuttoncontainer {
          display: flex;
        }
      }
    }
  }

  .navigation-screen {
    display: flex;
  }
}

// -------------------------------------------------------------------------------------------
