// ------------------------------------------------------------------------------------------

.header {
    height: 64px;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #00c7be;

    .container {
        max-width: 1200px;
        margin: auto;
        padding: 0 24px;
    }
}

// ------------------------------------------------------------------------------------------
